#map { 
	height: 768px; 
	width:1600px;
}

#corner { 
	width: 300px;
	text-align: center;
	background-color: rgba(128, 138, 162, 0.8);
	position:absolute;
	top:20px;
	right:20px;
	padding: 8px;
	border-radius: 2px;
}

#corner p {
	margin-bottom: 8px;
	font-family:courier;
    font-size:90%;
    color: white;
}

#corner input {
	float: right;
}

select {
	float: left;
	margin-right: 2px;
}

#corner input, select {
	background-color: white;
	border: none;
	color: #263248;
	padding: 3px;
	border-radius: 2px;
}

#corner input:hover, select:hover {
	background-color: #E0EEEE;
	cursor: pointer;

	transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

#footer {
	width: 100%;
	padding: 5px;
	background-color: black;
	text-align: center;
	font-size: 12px;
	color: white;
}

h1 {
	font-weight: bold;
}